.product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  left: 0;
  transition: none;
  /*Image*/ }
  .product-info-container.product-hidden {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease; }
  .bx-touch .product-info-container.product-touch-hidden {
    display: none !important; }
  .product-image-wrapper {
    display: block;
    position: relative;
    transition: all 300ms ease; }
  .product-image-canvas {
    display: block;
    padding-bottom: 100%;
    position: relative; }
  .product-image, .product-image-slider, .product-image-slide, .product-image-overlay {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
  .product-image {
    max-height: 100%;
    max-width: 100%; }
  .product-info-container {
    margin-bottom: 1rem; }
    @media (min-width: 992px) {
      .product-info-container {
        margin-bottom: 2rem; } }
    .product-info-container:last-child {
      margin-bottom: 0; }
  .product-title {
    font-size: 1rem; }
    @media (min-width: 768px) {
      .product-title {
        font-size: 1.5rem; } }
  .product--card .product-title {
    max-height: 2.4rem;
    overflow: hidden; }
    @media (min-width: 768px) {
      .product--card .product-title {
        max-height: 3.6rem; } }
  .product--line .product__preview {
    position: relative;
    overflow: hidden;
    max-height: 12.6rem; }
    .product--line .product__preview:after {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
      right: 0;
      content: "";
      height: 1.4rem;
      left: 0;
      position: absolute;
      top: 11.2rem;
      width: 100%; }
    @media (min-width: 992px) {
      .product--line .product__preview {
        padding-bottom: 1rem; } }
  @media (min-width: 992px) {
    .product--line .product-info-container--shrink {
      /* flex:1; */
      overflow-y: hidden;
      flex: 0 1 auto; } }
  @media (min-width: 768px) {
    .product--card {
      padding-left: 3rem; }
    .product--card .product-image-wrapper {
      margin-left: -3rem; }
    .product--card .product-title,
    .product--line .product-title {
      margin-left: -3rem;
      padding-left: 3rem;
      position: relative; }
      .product--card .product-title:before,
      .product--line .product-title:before {
        background-color: #d5001c;
        content: '';
        display: inline-block;
        height: 0.07em;
        margin: 0.54167em auto;
        min-height: 2px;
        position: absolute;
        left: 0;
        width: 1.5em;
        vertical-align: baseline; }
    .product--line .product-content {
      padding-left: 3rem; }
    .product--line .product-image-wrapper {
      border: 1px solid #D3DAE6; } }
  .product--table .product-image-wrapper {
    width: 5.625rem;
    height: 5.625rem; }
  .product--table .product-title {
    font-size: 1.125rem;
    font-weight: 500; }
  .product--table .product-info-container {
    margin-bottom: 1rem; }
    @media (min-width: 992px) {
      .product--table .product-info-container:last-child {
        margin-bottom: 0; } }
  .product--table .product-properties,
  .product--table .product-properties > dt,
  .product--table .product-properties > dd {
    border-bottom: none;
    display: inline;
    padding-left: 0;
    padding-right: 0; }
  .product--table .product-properties > dd:after {
    content: ',';
    display: inline; }
  .product--table .product-properties > dd:last-child:after {
    display: none; }
  .product--line .product-info-container.product-hidden,
  .product--table .product-info-container.product-hidden {
    display: block;
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
