#main_recycle {
	text-decoration: none;
}

.basket-top {
	position: relative;
	padding-left: 30px;
	color: #000;
}

.basket-top .title {
	font-size: 14px;
	font-weight: 600;
}

.basket-top .counter {
	width: 18px;
	height: 18px;
	display: block;
	text-align: center;
	border-radius: 50%;
	background: #f13c31;
	color: #fff;
	position: absolute;
	top: -10px;
	left: 11px;
}

.basket-top .basket-sum {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	margin-left: 6px;
}

.basket_sum {
	display: flex;
	align-items: center;
}

.basket_icon {
	position: relative;
}

.basket_count {
	position: absolute;
	width: 4px;
	height: 4px;
	top: -2px;
	right: -2px;
	background: #ee332a;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.b_sum {
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	margin-left: 10px;
	color: #000000;
}

.basket_delivery {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #737373;
}

.basket_delivery a {
	border-bottom: 1px dotted #737373;
	color: #737373;
}

.bx-basket-block>.fa {
	position: absolute;
	top: 3px;
	left: 0;
	width: 12px;
	color: #97a1ab;
}

.bx-basket-block a {
	margin-right: 10px;
}

.bx-basket {
	float: right;
}

@media (max-width: 1200px) {
	.basket_delivery {
		max-width: 140px;
	}

	.bx-basket-block {
		padding: 0;
	}
}

@media (max-width: 767px) {
	.bx-basket-block .b_sum {
		display: none;
	}

	.basket_delivery {
		display: none;
	}
}